#page-top a{
	display: flex;
	justify-content:center;
	align-items:center;
	background:#2b2a27;/*元は#942D2F*/
	border-radius: 5px;
	width: 60px;
	height: 60px;
	color: #fff;
	text-align: center;
	text-transform: uppercase; 
	text-decoration: none;
	font-size:0.6rem;
	transition:all 0.3s;
}